<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style rel="stylesheet" type="text/css">
        * {
            font-family: 'Optima';
        }
        #mars-news {
            margin-left: 15px;
            margin-right: 15px
        }
        #mars-featured-image {
            margin-left: 0px;
            margin-right: 0px
        }
        #mars-facts {
            margin-left: 0px;
            margin-right: 0px
        }
    </style>
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <!-- Header -->
    <div class=container-fluid>
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
        </div>
    </div>
    <!-- News -->
    <div class="row" id="mars-news">
        <div class="col-xs-12 col-md-12"></div>
        <div class="media">
            <div class="media-body">
                <h2 style="text-align:center">Latest Mars News</h2>
                <h4 class="media-heading">{{mars.news_title}}</h4>
                <p>{{mars.news_paragraph}}</p>
            </div>
        </div>
    </div>
    <!-- Featured Image -->
    <div class="row" id="mars-featured-image">
        <div class="col-xs-12 col-md-6">
            <h2 style="text-align:center">Featured Mars Image</h2>
            <img src="{{mars.featured_image }}" class="img-thumbnail" alt="Featured Mars Image" />
        </div>
        <!-- Facts -->
        <div class="col-xs-12 col-md-6">
            <div class="row" id="mars-facts">
                <h2 style="text-align:center">Mars Facts</h2>
                {{ mars.facts | safe }}
            </div>
        </div>
    </div>
    </div>
    <!-- Hemisphere Images -->
    <div class="row" id="hemisphere-images">
        <div class="col-xs-12 col-md-12">
            <h2 style="text-align:center">Mars Hemispheres</h2>
            <!-- List Comprehension -->
            {% for hemisphere in mars.hemispheres %}
            <div class="col-xs-6 col-md-3">
                <p class="text-center">
                    <img src="{{ hemisphere.image }}" class="img-thumbnail" alt="Mars Hemisphere Image" />
                    <b>{{ hemisphere.caption }}</b>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</body>

</html>